<div class="pl-40 pr-40">
    <form action="/admin/settings" method="post" autocomplete="off">
  <div class="mb-6">
    <label
      for="name" 
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" 
    >Institution Name</label>
    <input
      type="text"
      id="name"
      name="name"
      value="{{settings.name}}"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      required
    />
  </div>
  <div class="mb-6">
    <label
      for="facebook"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
    >Facebook Link</label>
    <input
      type="text"
      id="facebook"
      name="facebook"
      value="{{settings.facebook}}"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    />
  </div>
  <div class="mb-6">
    <label
      for="instagram"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
    >Instagram Link</label>
    <input
      type="text"
      id="instagram"
      name="instagram"
      value="{{settings.instagram}}"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    />
  </div>
  <div class="mb-6">
    <label
      for="twitter"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
    >Twitter Link</label>
    <input
      type="text"
      id="twitter"
      name="twitter"
      value="{{settings.twitter}}"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    />
  </div>

  <div class="mb-6">
    <label
      for="description"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
    >Description</label>
    <textarea
      id="description"
      name="description"
      rows="12"
      class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    >{{settings.description}}</textarea>
  </div>

  
  {{#if settings}}
    <div class="mb-4">
    <button
        type="submit"
        name="update"
        value="Edit Settings"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >Edit Settings</button>
  {{else}}
    <div class="mb-4">
    <button
    type="submit"
    name="add"
    value="Save Settings"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  >Save Settings</button>
  {{/if}}
  </div>
</form>
</div>