



{{>manager-header}}
{{!-- <div class="container mt-5 ">
    <h2>All Items</h2>
   {{categoryName}}
   {{#each itemss}}
   <div class="card" style="width: 18rem;">
            <img src="/uploads/{{this.imageUrl}}" width="200" height="100" alt="Food Item">
            <div class="card-body">
                <p>Title</p>
                <h5 class="card-title">{{this.name}}</h5>
                <p class="card-text">{{this.description}}
                     
                </p>
                 <a class="btn btn-primary" href="/">Add To Cart</a>
            </div>
        </div>
   {{/each}}
</div> --}}



<div class="container mt-5 ">
    <h2>All Items in {{category.name}}</h2>
    {{categoryName}}
    <div class="d-flex justify-content-center gap-1 row ">
    {{#each itemss}}
    <div class="card m-2 col-sm-6" style="width: 18rem;">
        <div class="img">
        <img id="imgg" src="/uploads/{{this.imageUrl}}" width="200" height="100" alt="Food Categories"></div>
        <div class="card-body">
            <div class="text">
            <h5 class="card-title">{{this.name}}</h5>
            <h5>₹ {{this.price}}.00</h5>
            <h6 class="card-title">Appx Time : {{this.apprtime}} Minutes</h6></div>
            
            {{!-- <form method="post" action="/user/cart">
                <div class="input-group mb-3">
                    <button id="minus" class="btn btn-outline-secondary" type="button" onclick="decrementValue('{{this._id}}')">-</button>
                    <input type="number" name="quantity" id="quantity_{{this._id}}" class="form-control"  value="{{this.quantity}}">
                    
                    <button id="plus" class="btn btn-outline-secondary" type="button" onclick="incrementValue('{{this._id}}')">+</button>
                </div>
                <input type="hidden" name="itemId" value="{{this._id}}">
                <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary ">Update Cart</button></div>
            </form> --}}
        </div>
    </div>
    {{/each}}
    {{this.quantity}}
    </div>
</div>

<style>
    .img{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
    #imgg {
    height: 150px;
    width: 90%;
    object-fit: cover;
    border-radius: 7px 7px 0 0;
    
  }
  .card{
        background-color: #f1f1f1;
    }
    .text{
        text-align: center;
    }
    #plus{
        background-color: rgb(168, 177, 174);
        color: black;
    }
    #minus{
        background-color: rgb(168, 177, 174);
        color: black;
        font-size: large;
    }
</style>
